
<p>
  <li><%= t('views.user.email') %></li>
  <%= @user.email %>
</p>

<p>
  <li><%= t('views.user.post_code') %></li>
  <%= @user.postcode %>
</p>

<p>
  <li><%= t('views.user.address') %></li>
  <%= @user.address %>
</p>

<p>
  <li><%= t('views.user.profile') %></li>
  <%= @user.profile %>
</p>

<%= link_to t('views.common.back'),books_path %>