
<p>
  <h1><%= t('views.user.email') %></h1>
  <%= @user.email %>
</p>

<p>
  <h1><%= t('views.user.post_code') %></h1>
  <%= @user.postcode %>
</p>

<p>
  <h1><%= t('views.user.address') %></h1>
  <%= @user.address %>
</p>

<p>
  <h1><%= t('views.user.profile') %></h1>
  <%= @user.profile %>
</p>

<%= link_to t('views.common.back'),books_path %>