<h2><%= t('views.report.index') %></h2>
<hr>
<% @reports.each do |report| %>
    <li>
         <%= Report.human_attribute_name(:user) %>
         <%= report.user_id %>
    </li>
    <li>
         <%= Report.human_attribute_name(:title) %>
         <%= report.title %>
    </li>
    <li>
         <%= Report.human_attribute_name(:body) %>
         <%= report.body %>
    </li>
    <%= link_to t('views.report.show_index'), report_path(report) %>
    <% if report.user_id == current_user.id %>
        <%= link_to t('views.common.edit'), edit_report_path(report) %>
        <%= link_to t('views.common.destroy'), report, method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
    <% end %>
    <hr>
<% end %>
<%= paginate @reports %>