<h2><%= t('views.report.index') %></h2>
<hr>
<% @reports.each do |report| %>
  <p>
    <%= Report.human_attribute_name(:user) %>
    <% if User.find(report.user_id).name == "" %>
      <%= User.find(report.user_id).email %>
    <% else %>
      <%= User.find(report.user_id).name %>
    <% end %>
  <p>
  <p>
    <%= Report.human_attribute_name(:title) %>
    <%= report.title %>
  </p>
  <p>
    <%= Report.human_attribute_name(:body) %>
    <%= report.body %>
  </p>
  <p>
    <%= report.created_at %>
  </p>
  <%= link_to t('views.report.show_index'), report_path(report) %>
  <% if report.user_id == current_user.id %>
    <%= link_to t('views.common.edit'), edit_report_path(report) %>
    <%= link_to t('views.common.destroy'), report, method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
  <% end %>
<hr>
<% end %>
<%= paginate @reports %>