<h2><%= t('views.report.show') %></h2>
<p>
    <%= Report.human_attribute_name(:user) %>
    <%= @report.user_id %>
</p>
<p>
    <%= Report.human_attribute_name(:title) %>
</p>
<p>
    <%= Report.human_attribute_name(:body) %>
</p>