
<p>
  <%= Report.human_attribute_name(:user) %>
  <%= @report.user_id %>
</p>
<p>
    <li><%= Report.human_attribute_name(:title) %>
    <%= @report.title %>
</p>
<p>
    <li><%= Report.human_attribute_name(:body) %>
</p>