<h2><%= t('views.report.show') %></h2>
<hr>
<p>
  <%= Report.human_attribute_name(:user) %>
  <% if @report.user.name == "" %>
    <%= @report.user.email %>
  <% else %>
    <%= @report.user.name %>
  <% end %>
</p>
<p>
  <%= Report.human_attribute_name(:title) %>
  <%= @report.title %>
</p>
<p>
  <%= Report.human_attribute_name(:body) %>
  <%= @report.body %>
</p>
<p>
  <%= Report.human_attribute_name(:post_time) %>
  <%= @report.created_at.strftime('%Y/%m/%d %H:%M') %>
</p>

<%= render 'comments/comments', commentable: @report %>

<%= render 'comments/form', commentable: @report, comment: @comments %>
