<h2><%= t('views.report.show') %></h2>
<p>
    <%= Report.human_attribute_name(:user) %>
    <%= @report.user_id %>
</p>
<p>
    <%= Report.human_attribute_name(:title) %>
    <%= @report.title %>
</p>
<p>
    <%= Report.human_attribute_name(:body) %>
    <%= @report.body %>
</p>

<%= render 'comments/comments', commentable: @report %> 

<%= render 'comments/form', commentable: @report, comment: @comments %> 